<form action="{% url 'users:login' %}" method="post" class="auth_card">
    {% csrf_token %}
    <div class="card_header">
        <h1>Авторизация</h1>
    </div>
    <div class="card_body">
        <div class="input_div">
            <label for="{{ form.username.id_for_label }}"><h4>Имя пользователя</h4></label>
            <div class="input_bar">
                {{ form.username }}
            </div>
        </div>
        <div class="input_div">
            <label for="{{ form.password.id_for_label }}"><h4>Пароль</h4></label>
            <div class="input_bar">
                {{ form.password }}
            </div>
        </div>

        <div class="sign_in">
            <button type="submit">
                <h4>Войти</h4>
            </button>
        </div>
    </div>
    <div class="card_footer">
        <a href="{% url 'users:registration' %}">
            <h5>Ещё нет аккаунта? Зарегистрируйтесь здесь</h5>
        </a>
    </div>
</form>