{% extends 'news/base.html' %}

{% load static %}

{% block css_link %}
    <link href="{% static 'css/auth_form.css' %}" rel="stylesheet" />
    <link href="{% static 'css/auth_registration.css' %}" rel="stylesheet" />
{% endblock %}

{% block main %}
<main>
    {% if messages or form.non_field_errors %}
        <div class="alert {% if messages %} alert-success {% else %} alert-warning {% endif %}">
            {% if messages %}
                {% for message in messages %}
                    <strong>{{ message }}</strong>
                {% endfor %}
            {% else %}
                <strong>{{ form.non_field_errors }}</strong>
            {% endif %}
        </div>
    {% endif %}
    {% include 'users/auth_form.html' %}
</main>
{% endblock %}