{% load static %}

<form action="{% url 'users:profile' user.id %}" method="post" class="profile_info_card" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="profile_info_card_header">
        {{ form.image }}
        <img class="profile_info_photo" src="{{ user.image.url }}">
    </div>
    <div class="profile_info_card_body">
        <div class="input_group">
            <div class="input_div">
                <label for="{{ form.first_name.id_for_label }}"><h5>Name</h5></label>
                <div class="input_bar">
                    {{ form.first_name }}
                </div>
            </div>
            <div class="input_div">
                <label for="{{ form.last_name.id_for_label }}"><h5>Surname</h5></label>
                <div class="input_bar">
                    {{ form.last_name }}
                </div>
            </div>
        </div>
        <div class="input_group">
            <div class="input_div">
                <label for="{{ form.email.id_for_label }}"><h5>Email</h5></label>
                <div class="input_bar">
                    {{ form.email }}
                </div>
            </div>
            <div class="input_div">
                <label for="{{ form.username.id_for_label }}"><h5>Username</h5></label>
                <div class="input_bar">
                    {{ form.username }}
                </div>
            </div>
        </div>
        <div class="input_group">
            <div class="input_div">
                <label><h5>Sign Up: <span>{{ user.date_joined }}</span></h5></label>
            </div>
            <div class="input_div">
                <label><h5>Verified: <span>{% if user.is_verified %}Yes{% else %}No{% endif %}</span></h5></label>
            </div>
        </div>
    </div>
    <div class="profile_info_card_footer">
        <div class="sign_up">
            <button type="button">
                <a href="{% url 'users:logout' %}"><h5>Log Out</h5></a>
            </button>
        </div>
        <div class="sign_up">
            <button type="submit">
                <h5>Save Changes</h5>
            </button>
        </div>
    </div>
</form>