{% load static %}

<div class="profile_adds_card">
    <div class="profile_adds_card_header">
        <div class="top_bar choosed">
            <h5>Liked</h5>
        </div>
        <div class="top_bar">
            <h5>Viewed</h5>
        </div>
    </div>
    <div class="profile_adds_card_body">
        <div>
            <h5>Ой, здесь пока пусто.</h5>
            <h5>Тут отображаются просмотренные новости.</h5>
        </div>
        <img src="{% static 'svg/sad_smile.svg' %}">
    </div>
</div>