{% load static %}
{% load custom_filters_users %}
{% load custom_filters %}

<div class="profile_adds_card">
    <div class="profile_adds_card_header">
        <button class="top_bar like {% if type == 'like' %}choosed{% endif %}">
            <h5>Liked</h5>
        </button>
        <button class="top_bar view {% if type == 'view' %}choosed{% endif %}">
            <h5>Viewed</h5>
        </button>
    </div>
    <div class="profile_adds_card_middle">
        {% if type == 'like' %}
            {% if user.liked_news_id %}
            <div class="cards_div">
                {% for news in liked_news %}
                    {% include 'news/news_card.html' %}
                {% endfor %}
            </div>
            {% else %}
            <div class="profile_adds_card_body">
                <div>
                    <h5>Ой, здесь пока пусто.</h5>
                    <h5>Нажмите на сердечко под новостью, чтобы добавить её в “Понравившиеся”.</h5>
                </div>
                <img src="{% static 'svg/sad_smile.svg' %}" alt="sad_smile_icon">
            </div>
            {% endif %}
        {% elif type == 'view' %}
            {% if user.viewed_news_id %}
            <div class="cards_div">
                {% for news in viewed_news %}
                    {% include 'news/news_card.html' %}
                {% endfor %}
            </div>
            {% else %}
            <div class="profile_adds_card_body">
                <div>
                    <h5>Ой, здесь пока пусто.</h5>
                    <h5>Тут отображаются просмотренные новости.</h5>
                </div>
                <img src="{% static 'svg/sad_smile.svg' %}" alt="sad_smile_icon">
            </div>
            {% endif %}
        {% else %}
        {% endif %}
    </div>
</div>