{% load static %}

<form action="{% url 'users:profile' user.id %}" method="post" class="profile_info_card" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="profile_info_card_header">
        {{ form.image }}
        <img id="old_avatar" class="profile_info_photo" src="{{ user.image.url }}" alt="user_image">
    </div>
    <div class="profile_info_card_body">
        <div class="input_group">
            <div class="input_div">
                <label for="{{ form.first_name.id_for_label }}"><h5>Имя</h5></label>
                <div class="input_bar">
                    {{ form.first_name }}
                </div>
            </div>
            <div class="input_div">
                <label for="{{ form.last_name.id_for_label }}"><h5>Фамилия</h5></label>
                <div class="input_bar">
                    {{ form.last_name }}
                </div>
            </div>
        </div>
        <div class="input_group">
            <div class="input_div">
                <label for="{{ form.email.id_for_label }}"><h5>Электронная почта</h5></label>
                <div class="input_bar">
                    {{ form.email }}
                </div>
            </div>
            <div class="input_div">
                <label for="{{ form.username.id_for_label }}"><h5>Имя пользователя</h5></label>
                <div class="input_bar">
                    {{ form.username }}
                </div>
            </div>
        </div>
        <div class="input_group">
            <div class="input_div">
                <label><h5>Зарегистрирован: <span>{{ user.date_joined.date }}</span></h5></label>
            </div>
            <div class="input_div">
                <label><h5>Подтверждён: <span>{% if user.is_verified %}Да{% else %}Нет{% endif %}</span></h5></label>
            </div>
        </div>
    </div>
    <div class="profile_info_card_footer">
        <div class="sign_up">
            <button type="button">
                <a href="{% url 'users:logout' %}"><h5>Выйти</h5></a>
            </button>
        </div>
        <div class="sign_up">
            <button type="submit">
                <h5>Сохранить</h5>
            </button>
        </div>
    </div>
</form>