main {
    display: flex;
}

#all_news h2 {
    font-size: 1.5625em;
}

.all_cards {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin-left: 5px;
    height: 88vh;
    overflow: overlay;
    position: relative;
    top: -4vh;
    padding-bottom: 8vh;
}

.all_cards::-webkit-scrollbar, .category_div::-webkit-scrollbar {
    width: 0;
}

.category_div {
    width: 20%;
    height: 88vh;
    overflow: overlay;
    padding-bottom: 8vh;
    position: relative;
    top: -4vh;
    padding-top: 4vh;
}

.paginator_block {
    margin-bottom: 10px;
    overflow-y: overlay;
    padding-bottom: 5px;
}

.paginator_block::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.paginator_block::-webkit-scrollbar-track {
    background-color: none;
}
.paginator_block::-webkit-scrollbar-thumb {
    background-color: var(--normal-blue);
    border-radius: 5px;
}

.paginator_block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.paginator_block li {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 100%;
}

.paginator_block a {
    color: var(--normal-blue);
}

.show_variants {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.variant {
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--light-blue);
    border: none;
}

.variant > img {
    width: 100%;
}

.variant_text_div {
    text-align: center;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
}

.choosed {
    background-color: white;
}

.page-link.active {
    background-color: var(--normal-blue);
    border-color: var(--normal-blue);
}

.footer_info > p {
    font-size: 0.5625em;
    line-height: 10px;
}

@media (max-width:768px) {
    .category_div {
        width: 40%;
        height: 90vh;
    }
    .all_cards {
        width: 60%;
        height: 90vh;
    }
    .show_variants {
        display: none;
    }
}