main {
    display: flex;
    justify-content: center;
}

.verification_div {
    background-color: var(--blank-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
    width: 60%;
    text-align: center;
}

.verification_div > img {
    height: 120px;
}

.verification_div > div {
    margin: 0 20%;
}

.verification_div h5 {
    color: rgba(var(--dark-font), 0.5);
}

@media (max-width:768px) {
    .verification_div {
        width: auto;
    }
    .verification_div > div {
        margin: 0 5%;
    }
}