

a {
    text-decoration: none;
}

.description p {
    margin: inherit;
}

.description li {
    font-family: 'normal';
    margin: 0;
    color: rgba(var(--dark-font));
}

blockquote {
    padding: 20px;
    background-color: aquamarine;
    border-radius: 10px;
    clear: both;
}

.news_card {
    width: 100%;
    border-radius: 10px;
    background-color: var(--blank-color);
    overflow: auto;
    margin-bottom: 20px;

}

.card_header > img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.card_header {
    margin: 16px;
    width: 25%;
    float: left;
}



.card_body {
    margin: 16px;
}

.time_and_url {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.category {
    display: flex;
    justify-content: space-between;
}

.category, .name, .description, .comment_shower {
    margin-bottom: 16px;
}




.card_bottom_icons {
    margin: 16px 8px 0 8px;
    display: flex;
    justify-content: space-between;
}

.card_bottom_icons > div {
    display: flex;
    flex-basis: 33%;
    justify-content: space-evenly;
    align-items: center;
}

.heart_icon {
    width: 30%;
    transition: transform 0.5s ease;
}
.heart_icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.view_icon, .comment_icon {
    width: 30%;
}

.share_icon {
    width: 50%;
}


.card_footer {
    clear: both;
    margin: 16px;
}

.comment_shower, .foot_comments {
    border: 1px solid var(--dark-blue);
    border-radius: 10px;
}

.foot_comments {
    display: none;
}

.comment_shower.choosed_comment {
    background-color: var(--for-comment);
}

.comment_shower {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    background-color: var(--blank-color);
}

.comment_shower * {
    margin: 4px 8px;
}

.leave_comment {
    margin: 8px;
}

.leave_comment > span {
    display: block;
    width: 100%;
    height: 0.5px;
    color: var(--normal-blue);
    background-color: var(--normal-blue);
}

.leave_comment > div {
    height: 48px;
    display: flex;
}

.leave_comment > button {
    height: 38px;
    display: flex;
    background-color: var(--for-comment);
    width: fit-content;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
}

textarea {
    margin: 8px;
    border: none;
    outline: none;
    width: 100%;
    resize: none;
    overflow-y: hidden;
    background-color: var(--blank-color);
    color: rgba(var(--dark-font));
}

textarea::-webkit-input-placeholder {
    color: rgba(var(--dark-font), 0.5);
}

.leave_comment > button > p {
    margin: 8px;
}

.leave_comment > div:first-child > p, .comment_header > p {
    color: rgba(var(--dark-font), 0.5);
}

.comment {
    margin: 0 8px;
    padding: 8px;
}

.comment_header {
    display: flex;
}

.comment_header > img {
    height: 32px;
    border-radius: 16px;
    aspect-ratio: 1;
    object-fit: cover;
}

.comment_header > p {
    margin: 0 16px 0 8px;
}

.comment_body > p {
    margin: 8px;
}

.comment_footer {
    display: flex;
    margin-left: 8px;
}

.comment_footer > div {
    display: flex;
}

.like_or_dislike_block > img {
    height: 18px;
}

.like {
    margin-right: 8px;
    transition: transform 0.5s ease;
}

.dislike {
    transform: rotate(180deg);
    margin-left: 24px;
    transition: transform 0.5s ease;
}

.like:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.dislike:hover {
    transform: scale(1.1) rotate(180deg);
    cursor: pointer;
}

.see_more_button {
    display: none;
    background-color: var(--blank-color);
    margin: 16px;
    padding: 10px;
    border: 1px solid var(--dark-blue);
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

@media (max-width:768px) {
    .card_header {
        margin: 16px;
        width: auto;
        float: none;
    }
    .card_bottom_icons p {
        font-size: 0.9em;
    }
}