body {
    overflow-y: hidden;
}

main {
    display: flex;
    height: 80vh;
}

.profile_adds {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    margin-left: 7px;
    height: 100%;
}

.profile_info {
    width: 60%;
    float: left;
    height: auto;
    margin-right: 7px;
}

.cards_div::-webkit-scrollbar {
    width: 0;
}

.news_card {
    width: 49%;
    margin: 0;
    margin-bottom: 8px;
}

@media (max-width:768px) {
    body {
        overflow-y: auto;
    }
    h5 {
        font-size: 1em;
    }
    main {
        flex-direction: column;
        height: auto;
    }
    .profile_adds, .profile_info {
        width: 100%;
        margin-bottom: 14px;
    }
    main > div:first-child {
        margin-right: 0;
    }

    main > div:last-child {
        margin-left: 0;
    }
}
