span {
    color: var(--normal-blue);
}

a {
    text-decoration: none;
    color: var(--dark-blue) !important;
}

.profile_adds_card {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.profile_adds_card_header {
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 14px;
}

.cards_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    overflow: overlay;
}

.top_bar {
    margin: 8px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    border: 2px solid var(--light-blue);
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
}

.top_bar > h5 {
    margin: 4px 0;
}

.choosed {
    background-color: var(--light-blue);
    color: black;
}

.profile_adds_card_middle {
    height: 100%;
    overflow: overlay;
}

.profile_adds_card_body {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    text-align: center;
}

.profile_adds_card_body > img {
    height: 120px;
}

.profile_adds_card_body > div {
    margin: 0 64px;
}

.profile_adds_card_body h5 {
    color: rgba(0, 0, 0, 0.5);
}

@media (max-width:768px) {
    .profile_adds_card_body {
        height: 30vh;
    }
}