main {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    overflow-y: hidden;
}
.news_card {
    top: 4vh;
}
.news_card_body {
    aspect-ratio: 1.5;
}

.all_cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 5px;
    overflow: overlay;
    height: 88vh;
    position: relative;
    top: -4vh;
    padding-bottom: 8vh;
}

.all_cards::-webkit-scrollbar {
    width: 0;
}

.paginator_block {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.pagination {
    list-style: none;
    padding: 0;
    width: 50%;
    margin: auto;
}

.pagination li {
    margin: 10px 0;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 100%;
}

.pagination a {
    color: black;
}

.no_recommends_div {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
    width: 60%;
    text-align: center;
}

.no_recommends_div > img {
    height: calc(150*0.8px);
}

.no_recommends_div > div {
    margin: 0 20%;
}

.no_recommends_div h5 {
    color: rgba(0, 0, 0, 0.5);
}