<form class="donate_card" action="{% url 'donate:form' %}" method="post">
    {% csrf_token %}
    <div class="card_header">
        <h1>Donate</h1>
    </div>
    <div class="card_body">
        <div class="title">
            <h4>Введите сумму или выберите из списка</h4>
        </div>
        <div class="choose_bar_group">
            <button class="choose_bar">
                <h4>50 р</h4>
            </button>
            <button class="choose_bar">
                <h4>100 р</h4>
            </button>
            <button class="choose_bar">
                <h4>250 р</h4>
            </button>
        </div>
        <div class="choose_bar_group">
            <button class="choose_bar">
                <h4>500 р</h4>
            </button>
            <button class="choose_bar">
                <h4>1000 р</h4>
            </button>
            <button class="choose_bar">
                <h4>1500 р</h4>
            </button>
        </div>
        <div class="input_bar">
            {{ form.price }}
        </div>
    </div>
    <div class="card_footer">
        <button type="submit">
            <h4>Перейти к оплате</h4>
        </button>
    </div>
</form>