{% extends 'news/base.html' %}

{% load static %}

{% block css_link %}
    <link href="{% static 'css/category.css' %}" rel="stylesheet" />
    <link href="{% static 'css/card.css' %}" rel="stylesheet" />
    <link href="{% static 'css/all_news.css' %}" rel="stylesheet" />
{% endblock %}

{% block main %}
<main>
    <div class="category_div">
        {% include 'news/category.html' %}
    </div>
    <div class="all_cards">
        {% include 'news/news_card.html' %}
        {% include 'news/news_card.html' %}
        {% include 'news/news_card.html' %}
        {% include 'news/news_card.html' %}
        {% include 'news/news_card.html' %}
        {% include 'news/news_card.html' %}
    </div>
</main>
{% endblock %}