{% extends 'news/base.html' %}

{% load static %}
{% load humanize %}
{% load custom_filters %}
{% load cache %}

{% block css_link %}
    <meta name="yandex-verification" content="da6b8a843a658d01" />
    <link href="{% static 'css/category.css' %}" rel="stylesheet" />
    <link href="{% static 'css/card.css' %}" rel="stylesheet" />
    <link href="{% static 'css/all_news.css' %}" rel="stylesheet" />
    <style>
        #all_news h2 {
            font-size: 1.5625em;
        }
        .mobile, .desktop {
            display: none;
        }
    </style>
{% endblock %}

{% block main %}
<main>
    <div class="category_div">
        {% include 'news/category.html' %}
        <div class="show_variants" data-show_type="{{ show_type }}">
            <div class="variant_text_div">
                <h6>Вариант отображения</h6>
            </div>
            <button class="variant type_4 {% if show_type == 'type_4' %}choosed{% endif %}">
                <img class="svg_icon {% if choosed_theme == 'dark' %}inverted{% endif %}" src="{% static 'svg/4x4.svg' %}" alt="4 columns">
            </button>
            <button class="variant type_3 {% if show_type == 'type_3' %}choosed{% endif %}">
                <img class="svg_icon {% if choosed_theme == 'dark' %}inverted{% endif %}" src="{% static 'svg/3x3.svg' %}" alt="3 columns">
            </button>
        </div>
        {% if is_paginated %}
        <div class="desktop paginator_block" data-page="{{ page_obj.number }}">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="{% url 'news:paginator_all' page_obj.previous_page_number %}"><i class="fa-solid fa-arrow-left"></i></a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="/"><i class="fa-solid fa-arrow-left"></i></a></li>
                {% endif %}

                {% for page in paginator.page_range %}
                    <li class="page-item"><a class="page-link {% if page_obj.number == page %}active{% endif %}" href="{% url 'news:paginator_all' page %}">{{ page }}</a></li>
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="{% url 'news:paginator_all' page_obj.next_page_number %}"><i class="fa-solid fa-arrow-right"></i></a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="/"><i class="fa-solid fa-arrow-right"></i></a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
        <div class="desktop footer_info">
            <p>Все новостные материалы опубликованные на сайте не являются его частной собственностью.<br>
                Каждая новость имеет как минимум одну ссылку на первоисточник.<br>
                Администрация не несёт ответственности за достоверность новостей, опубликованных на данном сайте.<br>
                По всем вопросам обращаться по <a href="https://t.me/evgeniy_warer">ссылке</a></p>
        </div>
    </div>
    <div class="all_cards">
        {% for news in object_list %}
            {% cache 120 sidebar user news news.likes news.views news.comments choosed_theme %}
            {% include 'news/news_card.html' %}
            {% endcache %}
        {% endfor %}
    </div>
    {% if is_paginated %}
    <div class="mobile paginator_block" data-page="{{ page_obj.number }}">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="{% url 'news:paginator_all' page_obj.previous_page_number %}"><i class="fa-solid fa-arrow-left"></i></a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link"><i class="fa-solid fa-arrow-left"></i></a></li>
            {% endif %}

            {% for page in paginator.page_range %}
                <li class="page-item"><a class="page-link {% if page_obj.number == page %}active{% endif %}" href="{% url 'news:paginator_all' page %}">{{ page }}</a></li>
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="{% url 'news:paginator_all' page_obj.next_page_number %}"><i class="fa-solid fa-arrow-right"></i></a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link"><i class="fa-solid fa-arrow-right"></i></a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
    <div class="mobile footer_info">
        <p>Все новостные материалы опубликованные на сайте не являются его частной собственностью.<br>
            Каждая новость имеет как минимум одну ссылку на первоисточник.<br>
            Администрация не несёт ответственности за достоверность новостей, опубликованных на данном сайте.<br>
            По всем вопросам обращаться по <a href="https://t.me/evgeniy_warer">ссылке</a></p>
    </div>
</main>
{% endblock %}
{% block script %}
    <script src="{% static 'js/change_category.js' %}"></script>
    <script id="star_script" src="{% static 'js/star_categories.js' %}"></script>
    <script src="{% static 'js/heart_for_all.js' %}"></script>
    <script src="{% static 'js/show_category.js' %}"></script>
    <script src="{% static 'js/share.js' %}"></script>
{% endblock %}