{% load static %}
{% load custom_filters %}

<div class="category_card">
    <div class="category_card_header">
        <h5>Категории</h5>
    </div>
    <div class="category_card_body" data-active-count="{{ choosed_categories|length }}">
        <div class="name_and_star">
            <button type="button" id="0" style="background-color: #D9EE58;" class="category_name {% if choosed_categories|is_choosed_all_category %}choosed_div{% endif %}">
                <p class="{% if choosed_categories|is_choosed_all_category %}choosed_p{% endif %}">Все</p>
            </button>
            {% if user.is_authenticated %}
                {% if user|is_zero_star %}
                <img class="star_icon in_star" src="{% static 'svg/star_filled.svg' %}">
                {% else %}
                <img class="star_icon" src="{% static 'svg/star.svg' %}">
                {% endif %}
            {% else %}
                <img class="star_icon" src="{% static 'svg/star.svg' %}">
            {% endif %}
        </div>
        {% for category in categories %}
        <div class="name_and_star">
            <button type="button" id="{{ category.id }}" class="category_name {% if category|is_choosed_category:choosed_categories %}choosed_div{% endif %}">
                <p class="{% if category|is_choosed_category:choosed_categories %}choosed_p{% endif %}">{{ category.name }}</p>
            </button>
            {% if user.is_authenticated %}
                {% if category|is_star:user %}
                <img class="star_icon in_star" src="{% static 'svg/star_filled.svg' %}">
                {% else %}
                <img class="star_icon" src="{% static 'svg/star.svg' %}">
                {% endif %}
            {% else %}
                <img class="star_icon" src="{% static 'svg/star.svg' %}">
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>