{% load static %}
{% load custom_filters %}

<div class="category_card show">
    <div class="category_card_header show">
        <h5>Категории</h5>
    </div>
    <div class="category_card_body" data-active-count="{{ choosed_categories|length }}">
        <div class="name_and_star">
            <button type="button" id="0" class="category_name {% if choosed_categories|is_choosed_all_category %}choosed_div{% endif %}">Все</button>
            {% if user.is_authenticated and user|is_zero_star %}
            <img class="star_icon in_star" src="{% static 'svg/star_filled.svg' %}" alt="filled_star_icon">
            {% else %}
            <img class="star_icon" src="{% static 'svg/star.svg' %}" alt="star_icon">
            {% endif %}
        </div>
        {% for category in categories %}
        <div class="name_and_star">
            <button type="button" id="{{ category.id }}" class="category_name {% if category|is_choosed_category:choosed_categories %}choosed_div{% endif %}">{{ category.name }}</button>
            {% if user.is_authenticated and category|is_star:user %}
            <img class="star_icon in_star" src="{% static 'svg/star_filled.svg' %}" alt="filled_star_icon">
            {% else %}
            <img class="star_icon" src="{% static 'svg/star.svg' %}" alt="star_icon">
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>