{% load static %}

<div class="category_card">
    <div class="category_card_header">
        <h5>Категории</h5>
    </div>
    <div class="category_card_body">
        <div class="name_and_star">
            <a href="https://ofont.ru/view/5790">
                <div>
                    <p>Название категории</p>
                </div>
            </a>
            <img src="{% static 'svg/star.svg' %}">
        </div>
        <div class="name_and_star">
            <a href="https://ofont.ru/view/5790">
                <div class="choosed_div">
                    <p class="choosed_p">Название категории</p>
                </div>
            </a>
            <img src="{% static 'svg/star.svg' %}">
        </div>
        <div class="name_and_star">
            <a href="https://ofont.ru/view/5790">
                <div>
                    <p>Название категории</p>
                </div>
            </a>
            <img src="{% static 'svg/star_filled.svg' %}">
        </div>
        <div class="name_and_star">
            <a href="https://ofont.ru/view/5790">
                <div>
                    <p>Название категории</p>
                </div>
            </a>
            <img src="{% static 'svg/star.svg' %}">
        </div>
        <div class="name_and_star">
            <a href="https://ofont.ru/view/5790">
                <div>
                    <p>Название категории</p>
                </div>
            </a>
            <img src="{% static 'svg/star.svg' %}">
        </div>
        <div class="name_and_star">
            <a href="https://ofont.ru/view/5790">
                <div class="choosed_div">
                    <p class="choosed_p">Название категории</p>
                </div>
            </a>
            <img src="{% static 'svg/star.svg' %}">
        </div>
        <div class="name_and_star">
            <a href="https://ofont.ru/view/5790">
                <div>
                    <p>Название категории</p>
                </div>
            </a>
            <img src="{% static 'svg/star_filled.svg' %}">
        </div>
        <div class="name_and_star">
            <a href="https://ofont.ru/view/5790">
                <div>
                    <p>Название категории</p>
                </div>
            </a>
            <img src="{% static 'svg/star.svg' %}">
        </div>
    </div>
</div>