{% extends 'news/base.html' %}

{% load static %}
{% load humanize %}
{% load custom_filters %}
{% load cache %}

{% block meta %}
<meta name="description" content="Популярные новости из разных категорий">
{% endblock %}

{% block css_link %}
    <link href="{% static 'css/card.css' %}" rel="stylesheet" />
    <link href="{% static 'css/recommendations.css' %}" rel="stylesheet" />
    <style>
        #popular > h2 {
            font-size: 1.5625em;
        }
    </style>
{% endblock %}

{% block main %}
<main>
    <div class="all_cards">
        {% for news in object_list %}
            {% cache 120 sidebar user news news.likes news.views news.comments choosed_theme %}
            {% include 'news/news_card.html' %}
            {% endcache %}
        {% endfor %}
        {% if is_paginated %}
        <div class="paginator_block">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="{% url 'news:paginator_popular' page_obj.previous_page_number %}"><i class="fa-solid fa-arrow-left"></i></a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="{% url 'news:popular' %}"><i class="fa-solid fa-arrow-left"></i></a></li>
                {% endif %}

                {% for page in paginator.page_range %}
                    <li class="page-item"><a class="page-link {% if page_obj.number == page %}active{% endif %}" href="{% url 'news:paginator_popular' page %}">{{ page }}</a></li>
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="{% url 'news:paginator_popular' page_obj.next_page_number %}"><i class="fa-solid fa-arrow-right"></i></a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="{% url 'news:popular' %}"><i class="fa-solid fa-arrow-right"></i></a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}
{% block script %}
    <script src="{% static 'js/heart_for_all.js' %}"></script>
    <script src="{% static 'js/share.js' %}"></script>
{% endblock %}