{% extends 'news/base.html' %}

{% load static %}
{% load humanize %}
{% load custom_filters %}
{% load cache %}

{% block meta %}
<meta name="description" content="Рекомендованные новости из разных категорий">
{% endblock %}

{% block css_link %}
    <link href="{% static 'css/card.css' %}" rel="stylesheet" />
    <link href="{% static 'css/recommendations.css' %}" rel="stylesheet" />
    <style>
        #recommended > h2 {
            font-size: 1.5625em;
        }
    </style>
{% endblock %}

{% block main %}
<main>
    {% if user.is_authenticated and object_list.exists or is_paginated %}
        <div class="all_cards">
            {% for news in object_list %}
                {% cache 60 sidebar user news news.likes news.views news.comments choosed_theme %}
                {% include 'news/news_card.html' %}
                {% endcache %}
            {% endfor %}
            {% if is_paginated %}
            <div class="paginator_block">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="{% url 'news:paginator_recommended' page_obj.previous_page_number %}"><i class="fa-solid fa-arrow-left"></i></a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="{% url 'news:recommended' %}"><i class="fa-solid fa-arrow-left"></i></a></li>
                    {% endif %}

                    {% for page in paginator.page_range %}
                        <li class="page-item"><a class="page-link {% if page_obj.number == page %}active{% endif %}" href="{% url 'news:paginator_recommended' page %}">{{ page }}</a></li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="{% url 'news:paginator_recommended' page_obj.next_page_number %}"><i class="fa-solid fa-arrow-right"></i></a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="{% url 'news:recommended' %}"><i class="fa-solid fa-arrow-right"></i></a></li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
    {% elif user.is_authenticated %}
        <div class="no_recommends_div">
            <div>
                <h5>Ой, здесь пока пусто.</h5>
                <h5>Нажмите на сердечко под новостью, чтобы мы смогли составить для вас рекомендации.</h5>
            </div>
            <img src="{% static 'svg/sad_smile.svg' %}" alt="sad_smile_icon">
        </div>
    {% else %}
        <div class="no_recommends_div">
            <div>
                <h5>Ой, кажется вы не авторизовались.</h5>
                <h5>Перейдите на вкладку <a href="{% url 'users:login' %}">Профиль</a>, чтобы войти в аккаунт.</h5>
            </div>
            <img src="{% static 'svg/sad_smile.svg' %}" alt="sad_smile_icon">
        </div>
    {% endif %}
</main>
{% endblock %}
{% block script %}
    <script src="{% static 'js/heart_for_all.js' %}"></script>
    <script src="{% static 'js/share.js' %}"></script>
{% endblock %}